*.class
build/
bin/
dist/
sysProps.xml
*.out
*.dSYM/
out/
*.pyc
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.mtj.tmp/
*.war
*.ear
error_hotspot.xml
hs_err_pid*
dist/FRCUserProgram.jar
sysProps.xml
build/
.gradle/
\.classpath
.idea/
*.iml
*.ipr
*.iws
